@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Bebas+Neue&family=Bitcount+Prop+Double+Ink:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Sekuya&display=swap');

.titulo {
    color: #A3B087;
    width: 1700px;
    height: 60px;
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.subtitulo {
    color: #435663;
}

body {
    margin: 0;
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
    background-image: url("img/fondo4.jpg");
    background-size:cover;
    background-position: center;
}

#boton-mascota {
    width: 230px;
    height: 50px;
    border-radius: 20px;
    background: transparent;
    border: 8px solid #A3B087;
    color:#A3B087;
    font-family: "BBH Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 35px;
}

#seleccionar-mascota {
   text-align: center;
   margin-top: 100px;
}

#contenedor-tarjetas{
    display: flex;
    justify-content: center; /*Centra horizontalmete*/
    align-items: flex-start; /*Alinea arriba si varían de altura*/
    gap: 70px;
    margin-top: 30px;
}

/*Estilo general de cada tarjeta*/
.tarjeta-de-mokepon {
    width: 200px;
    height: 400px;
    border-radius: 20px;
    padding: 10px;
    background-color: #FFF8D4;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* --- EFECTO HOVER (cuando el mouse pasa encima) --- */
.tarjeta-de-mokepon:hover {
    transform: translateY(-8px); /* sube la tarjeta */
    box-shadow: 
        0 12px 25px rgba(0,0,0,0.5),
        inset 0 0 8px rgba(255,255,255,0.5);
}

.tarjeta-de-mokepon img {
    width: 150px;
    height: 300px;
    object-fit: cover; /*Recortar bien sin deformar*/
    border-radius: 30px;
}

.tarjeta-de-mokepon p{
    font-size: 22px;
    font-weight: bold;
    color: #000;
    margin-top: 30px;
}

/* --- EFECTO DE SELECCIÓN REAL (cuando el usuario marca una tarjeta) --- */
#contenedor-tarjetas input[type="radio"]:checked + label {
    border: 4px solid #FF6500;       /* borde brillante */
    box-shadow: 
        0 0 25px rgba(234, 138, 69, 0.9),  /* glow exterior */
        inset 0 0 12px rgba(255,255,255,0.7);  /* luz interna */
    transform: scale(1.05);          /* agranda un poco */
}

input {
    display: none;
}



